@font-face {
    font-family: 'heavitas';/*not licensed for professional use ($15 fee)*/
    src: url('/fonts/Heavitas.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

div{
    background-color: #254441;
}

#header{
    height: 5%;
    display: flex;
    align-items: center; 
    background-color: #ff6f59;
}

h1{
    margin-left: 10px;
    font-family: 'Heavitas';
    font-size: 2.3rem;
    color: #254441;
}

/*#region Interface*/
#interface{
    height: 85%;
}

/*#region props*/
#leftcolumn{
    height: 100%;
    width: 25%;
    margin: 0;
    background-color: #bec5ad;
    border-bottom: #254441;
}

p{
    margin: 0;
    float: left;
    color: #A5CBC3;
    font-family: "nunito", "sans-serif";
    font-weight: 600;
    font-size: 24px;
}

h2{
    margin: 0;
    color: #A5CBC3;
    font-family: "Heavitas";
    font-size: 28px;
}

#props{
    height: 100%;
}

#head{
    min-height: 20px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 8px solid #172b29;
}

.container{
    overflow: hidden;
    display: inline-block;
    outline: none;
    padding-left: 12px;
}

.eq{
    width: 15%;
}

.section{
    /*padding: 5px;*/
    border-bottom: 8px solid #172b29;
}

input {
    width: 20%;
    height: 1.4rem;
    float: left;
    display: inline-block;
    border: 0;
    margin: 3px;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 10px 0px -7px #A5CBC3, 0px 10px 0px -7px #A5CBC3;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 18px;
    padding-left: 8px;
    color: #A5CBC3;
  }
input:focus {
    outline: none;
    box-shadow: -8px 10px 0px -7px #ff6f59, 8px 10px 0px -7px #ff6f59;
}

input:-ms-input-placeholder, input::-webkit-input-placeholder{
    padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*#endregion*/

#svg{
    z-index: 2;
    background: none;
}

#canvas{
    z-index: 1;
    background-color: black;
}

.field{
    left: 25%;
    top: 5%;
    width: 75%;
    height: 85%;
    float: left;
    position: absolute;
}

select{
    height: 30px;
    border-radius: 2px;
    font-family: "nunito", "sans-serif";
    font-size: 20px;
    font-weight: 700;
    float: left;
    margin-right: 5px;
    border: none;
}

button{
    height: 36px;
    width: 25%;
    font-size: 30px;
    font-family: "Heavitas";
    background-color: #ff6f59;
    border: none;
    outline: 6px solid #172b29;
    margin: 6px;
    margin-left: 5%;
    border-radius: 5px;
    display: inline-block;
    /*align-items: center;*/
    text-align: center;
    transition: all .2s;
}

button:hover{
    outline: 6px solid #A5CBC3;
}

button:active{
    outline: 6px solid #172b29;
    background-color: #ff472b;
    transition: 0s;
}

.timeMark{
    width: 12%;
}

.units{
    margin-left: 8px;
}

img{
    width: (25*1.2)px;
    height: (11*1.2)px;
}
/*#endregion*/

.time{
    top: 92.5%;
    width: 100%;
    height: 7.5%;
    position: absolute;
}

#timeline{
    height: 10%;
    padding: 0;
    outline: hidden;
}

#bar{
    height:2.5%;
    width: 100%;
    top: 90%;
    margin: 0;
    padding: 0;
    outline: none;
    position: absolute;
    align-items: center; 
    display: flex;
    background-color: #ff6f59;
}

.toggle{
    border-radius: 10px;
    overflow: hidden;
    outline: none;
    border: none;
    background-color: #ffa294;
}

#playback{
    width: 10%;
    left: 45%;
    height: 80%;
    position: absolute;
    display: inline-flex;
}

.button{
    background-color: #ffa294;
    position: relative;
    border: none;
    outline: none;
    width: 25%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
    text-align: center;
    transition: .2s;
}

.button:hover{
    background-color: #ff6f59;
}

.button:active{
    background-color: #ff472b;
    transition: 0s;
}

#stepback{
    left: 0px;
}

#backplay{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

#tcan{
    background-color: rgb(28, 28, 28);
    z-index: 1;
}

#tsvg{
    z-index: 2;
}

i{
    position: relative;
    top: .7px;
}