@font-face {
    font-family: 'heavitas';/*not licensed for professional use ($15 fee)*/
    src: url('/fonts/Heavitas.ttf');
}
@font-face {
    font-family: 'LatinM';
    src: url('/fonts/lm-regular.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overscroll-behavior-y: none;
}

#getFile{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 3;
    padding: 0;
    pointer-events: none;
    background-color: #47d7ff;
    opacity: 0;
    border: 0;
}

#noInternet{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 3;
    display: none;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > input {
    height: 1em;
    width: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: .2em solid white;
    outline: .25em solid black;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}

.checkbox > input:checked {
    background-color: #41B883;
}

.checkbox > input:checked:hover {
    background-color: #a5cbc3;
}

.checkbox > input:hover{
    background-color: lightgray;
}

#fullDisplay{
    height: 100%;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/*#region: Header*/

.headerButton{
    background-color: #ffa294;
    color: #ff6f59;
    font-family: 'Heavitas';
    font-size: 170%;
    border-radius: .3em;
    margin-left: .3em;
    padding-left: .2em;
    padding-right: .2em;
    transition: .2s;
    cursor: pointer;
}

.headerButton:hover{
    background-color: #ff6f59;
    color: #ffa294;
}

.headerButton:active{
    background-color: #ff472b;
}

#header{
    height: 5%;
    width: 100%;
    background-color: #ff6f59;
    display: flex;
    align-items: center;
    overflow: hidden;
}

h1{
    margin: 0;
}

#title{
    font-family: 'heavitas';
    color: white;
}

i{
    color: white;
}

#settingsB{
    background-color: black;
    margin-left: auto;
    font-size: 250%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: .2em;
    padding-right: .2em;
}

#settingsB:hover{
    background-color: black;
}

#settingsIcon{
    transition: .5s;
    color: #ff6f59;
    transform: rotate(0deg);
}

#settingsB:hover #settingsIcon{
    transform: rotate(45deg) !important;
}

/*#endregion*/

/*#region: Interface*/
#interface{
    height: 85%;
    width: 100%;
    bottom: 0;
    display: flex;
    background-color: black;
    overflow: hidden;
}

/*#region: leftcolumn*/
#leftcolumn{
    width: 25%;/*25%*/
    height: 100%;
    background-color: #254441;
    overflow-y: auto;
    left: 0;
    overflow-x: hidden;
    position: relative;
    z-index: 2;
}

.container{
    background-color:  #41B883;
}

.text{
    margin: 0;
}

#propHead{
    padding: 5px;
    padding-left: 15px;
    color: white;
}

#propTitle{
    font-family: 'heavitas';
    font-size: 90%;
}

#forPoint{
    display: none;
}

#withoutTime{
    display: none;
}

/*#region: tabs*/

#tabContainer{
    background-color: #3a706b;
    width: 100%;
    font-size: 100%;
}

#tabs{
    display: flex;
    font-size: 100%;
    width: 100%;
}

.tab{
    background-color: #a5cbc3;
    padding: 5px;
    /*padding-left: 40px;
    padding-right: 40px;*/
    width: 20%;
    display: flex;
    position: relative;
    margin: 0;
    cursor: pointer;
}

.newtab:after{
    content: '';
    height: 90%;
    width: .08em;
    left: -.04em;
    top: 5%;
    position: absolute;
    background-color: #41B883;
    z-index: 1;
    border-radius: 5px;
}

.tab:hover{
    background-color: #ff6f59;
    transition: .2s;
}

.selt{
    background-color: #254441;
}

.tabText{
    font-family: 'heavitas';
    font-size: 55%;
    color: white;
    margin: auto;
}

#addTab{
    background-color: #76cab8;
    display: flex;
    width: 1em;
}

#addTab:hover{
    background-color: #ff6f59;
}

#tabIcon{
    font-size: 55%;
    margin: auto;
}

#tabInfo{
    display: flex;
    font-size: 60%;
}

#tabInfoText{
    font-family: 'heavitas';
    margin: .3em;
}

.juncType{
    background-color: #41B883;
    margin: .2em;
    border-radius: .2em;
    display: flex;
}

.juncType:hover{
    background-color: #ff6f59;
    transition: .2s;
}

#firstJunc .discIcon{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.discIcon{
    width: 1.5em;
    color: black;
    display: none;
    margin: auto;
}

.sel{
    display: inline;
}

.tabField{
    width: 20%;
    margin-top: .2em;
    margin-bottom: .2em;
    font-family: 'LatinM';
    font-size: 100%;
    border: none;
}

.noField{
    pointer-events:none;
    background-color: #a5cbc3;
}

.tabDrop{
    border-radius: 2px;
    font-family: "nunito", "sans-serif";
    font-size: 100%;
    font-weight: 700;
    border: none;
    margin: .2em;
    padding: 0;
}

.tabField::-webkit-outer-spin-button,
.tabField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.tabField[type=number] {
    -moz-appearance: textfield;
}

/*#endregion*/

/*#region: labelline*/

.labelLine{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 100%;
    color: white;
    /*background-color: peachpuff;*/
}

.vectorIcon{
    transform: rotate(-45deg);
}

.toggles{
    margin-left: auto;
    display: flex;
}

.toggleButton{
    background-color: #41B883;
    margin-right: 10px;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 100%;
    border-radius: 4px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.toggleButton:hover{
    background-color: #ff6f59;
    transition: .2s;
}

.toggleIcon{
    font-size: 70%;
    color: white;
}

.undo{
    color:  #41B883;
    font-size: 50%;
}

.undoButton{
    background-color: transparent;
}

.undoButton:hover{
    background-color: transparent;
    transition: .2s;
}

.undoButton:hover .undo{
    color: red;
    transition: 0.2s;
}

.cart{
    display: inline;
}

.polar{
    display: none;
}

/*#endregion*/

/*#region: expansion*/

.expand{
    width: 100%;
    padding: 0;
    font-size: 100%;
    display: block;
}

.propExpand{
    background-color: #3a706b;
    width: 100%;
    display: flex;
    vertical-align: middle;
    font-size: 100%;
    padding-left: 2%;
}

.subPropExpand{
    background-color: #172b29;
    display: flex;
}

.subExpandText{
    font-size: 60% !important;
    color: #41B883;
}

.expandText{
    font-family: 'heavitas';
    font-size: 80%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

.expandIcon{
    font-size: 80%;
    margin-left: auto;
    display: inline;
    margin-right: .7em;
    transform: rotate(90deg);
}

.expandIcon.subExpandText{
    transform: rotate(0deg);
    font-size: 1.8vw !important;
}

.propExpand:hover{
    background-color: #ff6f59;
}

.propExpand:hover .subExpandText{
    color: white;
}

.propContents{
    background-color: #254441;
    width: 100%;
    font-size: 100%;
}

.overfold{
    padding: .2%;
    padding-left: 2.5%;
    display: inline-block;
    font-size: 100%;
}

.valueContents{
    width: 100%;
}

#valueContentsMore{
    display: none;
}

/*#endregion*/

/*#region: proplabel*/

.propLabel{
    font-family: "nunito", "sans-serif";
    font-size: 70%;
    font-weight: 700;
    cursor: default;
}

#propLabelUnit{
    display: inline;
    color: white;
}

.propInput{
    padding-left: 0px;
    margin-top: 4px;
    margin-bottom: 8px;
    /*background-color: orangered;*/
    display: flex;
}

.expandCompIcon{
    font-size: 60%;
    margin-right: 7px;
    visibility: hidden;
}

.propdrop{
    border-radius: 2px;
    font-family: "nunito", "sans-serif";
    font-size: 43%;
    font-weight: 700;
    border: none;
    margin-right: 5px;
    margin-left: .25em;
    height: 50%;
    padding: 0;
}

.eqUnits{
    margin: auto;
    margin-left: 10px;
}

.propField{
    display: inline;
    border: 0;
    margin-top: -.3em;
    margin-bottom: .5em;
    box-shadow: .35em .7em 0 -.55em #A5CBC3, -.35em .7em 0 -.55em #A5CBC3;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    background-color: transparent;
    font-family: 'LatinM';
    font-weight: 800;
    font-size: 53%;
    color: #A5CBC3;
    padding-left: .2em;
}
.propField:focus {
    outline: none;
    box-shadow: .7em .7em 0 -.55em #ff6f59, -.7em .7em 0 -.55em #ff6f59;
}

.propField::-webkit-outer-spin-button,
.propField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.propField[type=number] {
    -moz-appearance: textfield;
}

.propParaLabel{
    display: inline;
    font-family: 'heavitas';
    font-weight: 800;
    font-size: 50%;
    cursor: default;
    margin-right: .2em;
    color: #a5cbc3;
}

/*#endregion*/

.eq{
    font-size: 115%;
    color: #a5cbc3;
    margin-top: -.2em;
}

#math{
    display: none;
    font-size: 115%;
}

.eqContents{
    padding-bottom: .4em;
}

/*#region: solve and apply*/

.solver.labelLine{
    font-size: 80%;
}

.solver.propInput{
    font-size: 80%;
}

.bigButton{
    background-color: #41B883;
    font-size: 70%;
    font-family: 'Heavitas';
    width: fit-content;
    border: solid .3em #ff6f59;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 800;
    margin-left: 5%;
    margin-bottom: 10px;
    cursor: pointer;
}

.bigButton:hover{
    border: solid .3em white;
    transition: .2s;
}

.bigButton:active{
    background-color: green;
    transition: 0s;
}

.apply.propInput{
    margin-left: .4em;
}

.timeInput{
    width: 15%;
    margin-bottom: 0;
}

.solveInput{
    width: 20%;
}

#calcTimeUnits{
    margin-right: 0;
}

/*#endregion*/

.columnhandle{
    width: 10px;
    height: 100%;
    background-color: #172b29;
    cursor: e-resize;
    z-index: 2;
}

.columnhandle:hover{
    background-color: #41B883;
    transition: .2s;
}

/*#endregion*/

.fill{
    width: 100%;
    height: 100%;
    position: absolute;
}

/*#region: fieldcolumn*/

#fieldcolumn{
    height: 100%;
    width: 75%;
    display: flex;
    position: relative;
}

#fieldSVG{
    z-index: 1;
}

#pointLabels{
    z-index: 1;
    overflow: hidden;
}

.pointLabel{
    background-color: white;
    border-radius: .2em;
    height: fit-content;
    padding: .3em;
    position: absolute;
    overflow: hidden;
    border: 1px solid black;
}

.pointLabel p{
    font-size: 120%;
    font-family: "LatinMs";
}

/*#region: left field*/

#leftfield{
    flex-direction: column;
    display: flex;
}

#timeValue{
    width: fit-content;
    margin-left: 10px;
    margin-top: 10px;
    background-color: transparent;
    display: flex;
    z-index: 2;
}

#timeText{
    font-family: "nunito", "sans-serif";
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
    color: white;
}

#timeInput{
    width: 4em;
    font-size: 100%;
    font-family: "nunito", "sans-serif";
    font-weight: 800;
    color: black;
    text-align: center;
    border: none;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.leftColumnDrop{
    height: 100%;
    font-size: 120%;
    margin: 0;
}

#timeValueDrop{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#vectorSwitch{
    width: 10em;
    height: 2em;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: auto;
    display: flex;
    z-index: 2;
    border-radius: 20px;
    overflow: hidden;
}

.vectorButton{
    width: 33.4%;
    height: 100%;
    display: flex;
    background-color: #254441;
    cursor: pointer;
}

.seld{
    background-color: #a5cbc3;
    color: black;
    cursor: default;
}

.vectorButton:hover{
    background-color: #76cab8;
}

.seld:hover{
    background-color: #a5cbc3;
}

.vectorText{
    font-family: 'LatinM';
    font-size: 130%;
    font-weight: 900;
    margin: auto;
    margin-top: -.1em;
}

/*#endregion*/

/*#region: settings*/

.settingText{
    font-size: 200%;
    margin-top: .2em;
    color: white;
}

#settings{
    margin-left: auto;
    background-color: #254441;
    padding-right: 15px;
    padding-left: 10px;
    display: none;
    z-index: 1;
    color: white;
    font-size: 120%;
}

.settingLine{
    display: flex;
    width: fit-content;
    margin-bottom: 5px;
}

.settingField{
    border: none;
    font-size: 100%;
    width: 5vw;
    padding: 0;
    margin: 0;
    z-index: 1;
    font-size: 140%;
    margin-top: -.3em;
}

.settingScale{
    font-size: 100%;
    z-index: 1;
}

label.settingToggle{
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
}

label.settingToggle > input {
    height: 1.3em;
    width: 1.3em;
}

label.settingToggle > input:checked {
}

p.settingToggle{
    font-size: 130%;
    font-family: "nunito", "sans-serif";
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}

.settingToggle.text{
    margin-left: .3em;
    margin-right: .3em;
}

#squareButton{
    margin-top: .6em;
}

.scaleButton{
    background-color: #76cab8;
    width: fit-content;
    border: .2em solid black;
    border-radius: .4em;
    padding-left: .2em;
    padding-right: .2em;
    z-index: 1;
    cursor: pointer;
}

.scaleButton:hover{
    background-color: #ff6f59;
    transition: .2s;
}

/*#endregion*/

/*#endregion*/

/*#region: time bar*/

#time{
    height: 10%;
    width: 100%;
    background-color: black;
    position: relative;
}

#timeline{
    width: 100%;
    height: 75%;
    top: 25%;
}

.time{
    width: 100%;
    height: 100%;
    position: absolute;
}

#timeSVG{
    z-index: 1;
}

#timeHead{
    width: 100%;
    height: 25%;
    background-color: #ff6f59;
    display: flex;
    position: absolute;
    align-items: center;
}

.cutout{
    height: 80%;
    background-color: #ff6f59;
    top: 10%;
}

#playback{
    width: 10%;
    margin-left: 45%;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.playbackButton{
    width: 25%;
    height: 100%;
    background-color:  #ffa294;
    display: flex;
}

.playbackButton i{
    color: black;
    margin: auto;
}

#backplay{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.playbackButton:hover{
    background-color: #ff6f59;
}

.range{
    margin-right: 3px;
    border-radius: 3px;
    font-family: "nunito", "sans-serif";
    font-weight: 700;
}

#norm{
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffa294;
    cursor: pointer;
}

#norm:hover{
    background-color: #ff6f59;
}

#timeRange{
    width: 12%;
    display: flex;
    overflow: hidden;
}

.rangeButton{
    width: 33.4%;
    height: 100%;
    background-color: #ffa294;;
    position: relative;
}

.rangeField{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border: 0;
    font-family: 'LatinM';
    font-weight: 800;
    font-size: 90%;
    color: black;
    text-align: center;
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.field[type=number] {
    -moz-appearance: textfield;
}

.leftRange:after{
    content: '';
    height: 100%;
    width: 2px;
    right: -1px;
    position: absolute;
    background-color: black;
    z-index: 1;
}

.rangeButton:hover{
    background-color: #ff6f59;
}

.range.propdrop{
    font-size: 90%;
    background-color: #ffa294;
}

.range option{
    font-size: 100%;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: 'orange';
}

/*#endregion*/

/*#endregion*/

/*@font-face {
    font-family: 'heavitas';/*not licensed for professional use ($15 fee)
    src: url('/fonts/Heavitas.ttf');
}
@font-face {
    font-family: 'LatinM';
    src: url('/fonts/lm-regular.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

div{
    background-color: #254441;
}

#header{
    height: 5%;
    display: flex;
    align-items: center; 
    background-color: #ff6f59;
    cursor: default;
}

#headImg{
    height: 80%;
    padding-left: 15px;
}

h1{
    margin-left: 10px;
    font-family: 'Heavitas';
    font-size: 2.3rem;
    color: #254441;
    margin: 0;
    align-self: center;
}

.headerB{
    border-radius: 10px;
    background-color: #ffa294;
    transition: .3s;
    overflow: hidden;
}

.headerB:hover{
    background-color: #ff6f59;
    cursor: pointer;
}

.headerB:hover .headerBText{
    color: #ffa294;
}

.headerB:active{
    background-color: #ff472b;
    transition: 0s;
}

#saveB{
    margin-left: 15px;
}

#settingsB{
    position: absolute;
    right: 0;
    margin-right: 15px;
}

#addDrop{
    position: absolute;
    font-family: "nunito", "sans-serif";
    font-weight: bolder;
    font-size: 1.3rem;
    border: none;
}

#addList{
    background-color: transparent;
    margin-left: 15px;
    z-index: 7;
}

#addDrop p{
    float: none;
    display: block;
    text-align: left;
    background-color: #ffa294;
    color: black;
    padding: 5px;
}

#addDrop p:hover{
    float: none;
    display: block;
    text-align: left;
    background-color: #ff6f59;
}

.headerBText{
    font-family: 'Heavitas';
    font-size: 1.5rem;
    padding: 0px;
    padding-left: 6px;
    padding-right: 4px;
    color: #ff6f59;
    transition: .3s;
}

.addChoice{
    font-family: "nunito", "sans-serif";
    font-size: 1.3rem;
    border: none;
    outline: none;
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

/*#region Interface
#interface{
    height: 85%;
}

/*#region props
#leftcolumn{
    height: 100%;
    width: 25%;
    margin: 0;
    background-color: #bec5ad;
    border-bottom: #254441;
    padding-right: 4px;
}

/*#leftcolumn::after {
    content: '';
    background-color: #ccc;
    right: 4px;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    display: inline-block;
}

p{
    margin: 0;
    float: left;
    color: #A5CBC3;
    font-family: "nunito", "sans-serif";
    font-weight: 600;
    font-size: 24px;
}

h2{
    margin: 0;
    color: #A5CBC3;
    font-family: "Heavitas";
    font-size: 28px;
}

#props{
    height: 100%;
}

#head{
    min-height: 20px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 8px solid #172b29;
}

.container{
    overflow: hidden;
    display: inline-block;
    outline: none;
    padding-left: 12px;
}

.eq{
    /*width: 15%;
    font-size: 42px;
    color: #A5CBC3;
    padding-left: 10px;
}

#math{
    display: none;
}

.section{
    /*padding: 5px;
    height: fit-content;
    overflow: hidden;
    border-bottom: 8px solid #172b29;
}

input {
    width: 20%;
    height: 1.4rem;
    float: left;
    display: inline-block;
    border: 0;
    margin: 3px;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 10px 0px -7px #A5CBC3, 0px 10px 0px -7px #A5CBC3;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    background-color: transparent;
    font-family: 'LatinM';
    font-weight: 800;
    font-size: 18px;
    padding-left: 8px;
    color: #A5CBC3;
  }
input:focus {
    outline: none;
    box-shadow: -8px 10px 0px -7px #ff6f59, 8px 10px 0px -7px #ff6f59;
}

input:-ms-input-placeholder, input::-webkit-input-placeholder{
    padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox 
input[type=number] {
    -moz-appearance: textfield;
}
/*#endregion

#svg{
    z-index: 2;
    background: none;
}

#canvas{
    z-index: 1;
    background-color: black;
}

.field{
    left: 25%;
    top: 5%;
    width: 75%;
    height: 85%;
    float: left;
    position: absolute;
}

.propdrop{
    height: 30px;
    border-radius: 2px;
    font-family: "nunito", "sans-serif";
    font-size: 20px;
    font-weight: 700;
    float: left;
    margin-right: 5px;
    border: none;
}

button{
    height: 36px;
    width: 25%;
    font-size: 30px;
    font-family: "Heavitas";
    background-color: #ff6f59;
    border: none;
    outline: 6px solid #172b29;
    margin: 6px;
    margin-left: 5%;
    border-radius: 5px;
    display: inline-block;
    /*align-items: center;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
}

button:hover{
    outline: 6px solid #A5CBC3;
}

button:active{
    outline: 6px solid #172b29;
    background-color: #ff472b;
    transition: 0s;
}

.timeMark{
    width: 12%;
}

.units{
    margin-left: 8px;
}

img{
    width: (25*1.2)px;
    height: (11*1.2)px;
}

#viewType{
    width: 150px;
    height: 30px;
    bottom: 10%;
    left: 25%;
    position: absolute;
}

.canButtons{
    z-index: 5;
    margin: 8px;
    border-radius: 15px;
    overflow: hidden;
    display: inline-flex;
    font-family: 'LatinM';
    font-weight: 900;
    font-size: 18px;
    background-color: #254441;
}

.viewButton{
    width: 33.33% !important;
    background-color: #254441 !important;
    color: white;
}

.viewButton:hover{
    background-color: #76cab8 !important;
}
/*#endregion

.time{
    top: 92.5%;
    width: 100%;
    height: 7.5%;
    position: absolute;
    /*width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
}

#timeline{
    height: 10%;
    padding: 0;
    outline: hidden;
}

#bar{
    height:2.5%;
    width: 100%;
    top: 90%;
    margin: 0;
    padding: 0;
    outline: none;
    position: absolute;
    align-items: center; 
    display: flex;
    background-color: #ff6f59;
}

.toggle{
    border-radius: 10px;
    overflow: hidden;
    outline: none;
    border: none;
    background-color: #ffa294;
}

#playback{
    width: 10%;
    left: 45%;
    height: 80%;
    position: absolute;
    display: inline-flex;
}

.button{
    background-color: #ffa294;
    position: relative;
    border: none;
    outline: none;
    width: 25%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
    text-align: center;
    transition: .2s;
    cursor: pointer;
}

.button:hover{
    background-color: #ff6f59;
}

.button:active{
    background-color: #ff472b;
    transition: 0s;
}

#stepback{
    left: 0px;
}

#backplay{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

#tcan{
    background-color: rgb(28, 28, 28);
    z-index: 1;
}

#tsvg{
    z-index: 2;
}

#scroll-o{
    top: 92.5%;
    width: 100%;
    height: 7.5%;
    position: absolute;
    overflow-y: auto;
    background-color: transparent;
}

#scroll-i{
    height: 100%;
    background-color: transparent;
    display: grid;
}

i{
    position: relative;
    top: .7px;
}*/