@font-face {
    font-family: 'heavitas';/*not licensed for professional use ($15 fee)*/
    src: url('/fonts/Heavitas.ttf');
}
@font-face {
    font-family: 'LatinM';
    src: url('/fonts/lm-regular.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

div{
    background-color: #254441;
}

#header{
    height: 5%;
    display: flex;
    align-items: center; 
    background-color: #ff6f59;
    cursor: default;
}

h1{
    margin-left: 10px;
    font-family: 'Heavitas';
    font-size: 2.3rem;
    color: #254441;
}

.headerB{
    border-radius: 10px;
    background-color: #ffa294;
    transition: .3s;
    overflow: hidden;
}

.headerB:hover{
    background-color: #ff6f59;
    cursor: pointer;
}

.headerB:hover .headerBText{
    color: #ffa294;
}

.headerB:active{
    background-color: #ff472b;
    transition: 0s;
}

#saveB{
    margin-left: 15px;
}

#settingsB{
    position: absolute;
    right: 0;
    margin-right: 15px;
}

#addDrop{
    position: absolute;
    font-family: "nunito", "sans-serif";
    font-weight: bolder;
    font-size: 1.3rem;
    border: none;
}

#addList{
    background-color: transparent;
    margin-left: 15px;
    z-index: 7;
}

#addDrop p{
    float: none;
    display: block;
    text-align: left;
    background-color: #ffa294;
    color: black;
    padding: 5px;
}

#addDrop p:hover{
    float: none;
    display: block;
    text-align: left;
    background-color: #ff6f59;
}

.headerBText{
    font-family: 'Heavitas';
    font-size: 1.5rem;
    padding: 0px;
    padding-left: 6px;
    padding-right: 4px;
    color: #ff6f59;
    transition: .3s;
}

.addChoice{
    font-family: "nunito", "sans-serif";
    font-size: 1.3rem;
    border: none;
    outline: none;
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

#getFile{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 5;
    padding: 0;
    pointer-events: none;
}

/*#region Interface*/
#interface{
    height: 85%;
}

/*#region props*/
#leftcolumn{
    height: 100%;
    width: 25%;
    margin: 0;
    background-color: #bec5ad;
    border-bottom: #254441;
    padding-right: 4px;
}

/*#leftcolumn::after {
    content: '';
    background-color: #ccc;
    right: 4px;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    display: inline-block;
}*/

p{
    margin: 0;
    float: left;
    color: #A5CBC3;
    font-family: "nunito", "sans-serif";
    font-weight: 600;
    font-size: 24px;
}

h2{
    margin: 0;
    color: #A5CBC3;
    font-family: "Heavitas";
    font-size: 28px;
}

#props{
    height: 100%;
}

#head{
    min-height: 20px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 8px solid #172b29;
}

.container{
    overflow: hidden;
    display: inline-block;
    outline: none;
    padding-left: 12px;
}

.eq{
    /*width: 15%;*/
    font-size: 42px;
    color: #A5CBC3;
    padding-left: 10px;
}

#math{
    display: none;
}

.section{
    /*padding: 5px;*/
    height: fit-content;
    overflow: hidden;
    border-bottom: 8px solid #172b29;
}

input {
    width: 20%;
    height: 1.4rem;
    float: left;
    display: inline-block;
    border: 0;
    margin: 3px;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 10px 0px -7px #A5CBC3, 0px 10px 0px -7px #A5CBC3;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    background-color: transparent;
    font-family: 'LatinM';
    font-weight: 800;
    font-size: 18px;
    padding-left: 8px;
    color: #A5CBC3;
  }
input:focus {
    outline: none;
    box-shadow: -8px 10px 0px -7px #ff6f59, 8px 10px 0px -7px #ff6f59;
}

input:-ms-input-placeholder, input::-webkit-input-placeholder{
    padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*#endregion*/

#svg{
    z-index: 2;
    background: none;
}

#canvas{
    z-index: 1;
    background-color: black;
}

.field{
    left: 25%;
    top: 5%;
    width: 75%;
    height: 85%;
    float: left;
    position: absolute;
}

.propdrop{
    height: 30px;
    border-radius: 2px;
    font-family: "nunito", "sans-serif";
    font-size: 20px;
    font-weight: 700;
    float: left;
    margin-right: 5px;
    border: none;
}

button{
    height: 36px;
    width: 25%;
    font-size: 30px;
    font-family: "Heavitas";
    background-color: #ff6f59;
    border: none;
    outline: 6px solid #172b29;
    margin: 6px;
    margin-left: 5%;
    border-radius: 5px;
    display: inline-block;
    /*align-items: center;*/
    text-align: center;
    transition: all .3s;
    cursor: pointer;
}

button:hover{
    outline: 6px solid #A5CBC3;
}

button:active{
    outline: 6px solid #172b29;
    background-color: #ff472b;
    transition: 0s;
}

.timeMark{
    width: 12%;
}

.units{
    margin-left: 8px;
}

img{
    width: (25*1.2)px;
    height: (11*1.2)px;
}

#viewType{
    width: 150px;
    height: 30px;
    bottom: 10%;
    left: 25%;
    position: absolute;
}

.canButtons{
    z-index: 5;
    margin: 8px;
    border-radius: 15px;
    overflow: hidden;
    display: inline-flex;
    font-family: 'LatinM';
    font-weight: 900;
    font-size: 18px;
    background-color: #254441;
}

.viewButton{
    width: 33.33% !important;
    background-color: #254441 !important;
    color: white;
}

.viewButton:hover{
    background-color: #76cab8 !important;
}
/*#endregion*/

.time{
    top: 92.5%;
    width: 100%;
    height: 7.5%;
    position: absolute;
    /*width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;*/
}

#timeline{
    height: 10%;
    padding: 0;
    outline: hidden;
}

#bar{
    height:2.5%;
    width: 100%;
    top: 90%;
    margin: 0;
    padding: 0;
    outline: none;
    position: absolute;
    align-items: center; 
    display: flex;
    background-color: #ff6f59;
}

.toggle{
    border-radius: 10px;
    overflow: hidden;
    outline: none;
    border: none;
    background-color: #ffa294;
}

#playback{
    width: 10%;
    left: 45%;
    height: 80%;
    position: absolute;
    display: inline-flex;
}

.button{
    background-color: #ffa294;
    position: relative;
    border: none;
    outline: none;
    width: 25%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
    text-align: center;
    transition: .2s;
    cursor: pointer;
}

.button:hover{
    background-color: #ff6f59;
}

.button:active{
    background-color: #ff472b;
    transition: 0s;
}

#stepback{
    left: 0px;
}

#backplay{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

#tcan{
    background-color: rgb(28, 28, 28);
    z-index: 1;
}

#tsvg{
    z-index: 2;
}

#scroll-o{
    top: 92.5%;
    width: 100%;
    height: 7.5%;
    position: absolute;
    overflow-y: auto;
    background-color: transparent;
}

#scroll-i{
    height: 100%;
    background-color: transparent;
    display: grid;
}

i{
    position: relative;
    top: .7px;
}